.agregar-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-control, .btn-agregar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-control {
    background-color: #f0f0f0;
    color: #333;
}

.btn-control:hover {
    background-color: #e0e0e0;
}

.contador {
    font-size: 20px;
    font-weight: bold;
    margin-top:12px;
}

.btn-agregar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
}

.btn-agregar:hover {
    background-color: #45a049
}